.step-carousel {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.step-track {
    display: flex;
    width: 100%;
}

.step-item {
    height: 72vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0;
    user-select: none;
}